/***
 *    d88888b  .d88b.  d8b   db d888888b 
 *    88'     .8P  Y8. 888o  88 `~~88~~' 
 *    88ooo   88    88 88V8o 88    88    
 *    88~~~   88    88 88 V8o88    88    
 *    88      `8b  d8' 88  V888    88    
 *    YP       `Y88P'  VP   V8P    YP    
 *                                       
 *                                       
 */


/*Radomir Tinkov Free Font End User License Agreement Version: January 01, 2016
Please read this EndUser License Agreement ("Agreement") carefully before downloading or installing the font software ("Font"). If you do not agree to the terms of this Agreement, do not download or install the Font.
License
Radomir Tinkov grants you a perpetual, worldwide, non-exclusive and non-transferrable license to:
a) Download, install and use the Font solely for your personal and commercial purposes strictly in accordance with the terms of this Agreement.
b) You may use the Font to create graphics for display on any surface including computer screens, printed materials, t-shirts or any other surface where the image is a fixed size.
c) You may use the Font to create EPS files or other scalable drawings.
d) You may embed the Font into software or hardware products in which the Font will be used by the purchasers of such products.
e)You may import and alter the bezier outlines of the Font in a drawing program.You may not modify the Font or create derivative works based on the Font without prior written consent from Radomir Tinkov.
f) You agree not to, and you will not permit others to modify, sell, rent, lease, assign, distribute, adapt or otherwise commercially exploit the Font or make the Font available to any third party.
g) You may install the Font on unlimited devices.
h)You may generate web font formats from the Font and use the generated Font on websites via @font-face. i)You may embed the Font into software or hardware.
Copyright
The Font is protected by copyright law. Radomir Tinkov is the sole, exclusive owner of all intellectual property rights, including rights under copyright and trademark law.You agree not to use the Font in any manner that infringes the intellectual property rights of RadomirTinkov or violates the terms of this EULA.You will be held legally responsible by the terms of this EULA.
Termination
This EULA is effective until terminated. If You fail to comply with any term of this EULA,The Agreement will be terminated automatically without notice form Radomir Tinkov.
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/33264a");

@font-face { /*Light*/
  font-family: 'gilroy';
  src: url('webfonts/33264A_B_0.eot');
  src: url('webfonts/33264A_B_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/33264A_B_0.woff2') format('woff2'),
  url('webfonts/33264A_B_0.woff') format('woff'),
  url('webfonts/33264A_B_0.ttf') format('truetype');
  font-weight: 300; /*Light*/
  font-style: normal;
  }


@font-face { /*ExtraBold*/
  font-family: 'gilroy';
  src: url('webfonts/33264A_F_0.eot');
  src: url('webfonts/33264A_F_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/33264A_F_0.woff2') format('woff2'),
  url('webfonts/33264A_F_0.woff') format('woff'),
  url('webfonts/33264A_F_0.ttf') format('truetype');
  font-weight: 800; /*ExtraBold*/
  font-style: normal;
  }

 @font-face { /*ExtraBold*/
  font-family: 'gilroy';
  src: url('webfonts/33264A_13_0.eot');
  src: url('webfonts/33264A_13_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/33264A_13_0.woff2') format('woff2'),
  url('webfonts/33264A_13_0.woff') format('woff'),
  url('webfonts/33264A_13_0.ttf') format('truetype');
  font-weight: 900; /*ExtraBold*/
  font-style: normal;
  }
